.etiqueta1{
    border:rgb(112, 113, 144) 0px;
}
    
.contenido{
    background-color: yellow;
}
.tarjeta-texto{
   text-align: center;
}
.tarjeta-titulo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.tarjeta-precio{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
.target-cok{
    font-weight: bold;
    font-size: 18px;
}
.target-cash-cok{
    text-align: center;
    font-weight:bold;
    font-style: italic;
    font-size: 18px;
}
.target-hard{
    text-align: center;
    font-weight:bold;
    font-style: italic;
    font-size: 18px;    
}.beauty{
   border-color: blueviolet;
}
.art{
    border:solid 2px darkcyan;
}
.masc{
    border:solid 2px steelblue;
}